repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
        types: [file, bash]
        args: [-x]
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
    -   id: shfmt
        args: ["-w", "-i", "2", "-ci"]
